{{#if user}}
  <h1>Hey look, its {{user.displayName}}!</h1>
  <form action="/auctions" method="get">
    <input type="submit" value="Check out the current auction!">
  </form>
{{else}}
  <form action="/auth/facebook" method="get">
    <input type="submit" value="Log In">
  </form>
{{/if}}
