{{#if user}}
  <h1>Hey look, its {{user.displayName}}!</h1>
  <form action="/auctions" method="get">
    <input type="submit" value="Check out the current auction!">
  </form>
{{else}}
  <form action="/auth/facebook" class="form" method="get">
    <h2>Log in via Facebook to participate in the auction!</h2>
    <input type="submit" value="Log In" class="post">
  </form>
{{/if}}
