<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='bg-image'></div>

    <header>
      <h1>eBae</h1>
      <h2>the Electronic Bachelor(ette) Auction Experience</h2>
      
      <nav>
          <a href="/auctions">All Auctions</a>
          <a href="/logout">Log Out</a>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
  </body>
</html>
