<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>eBae</h1>
      <h2>the Electronic Bachelor(ette) Auction Experience</h2>
      <nav>
        <a href="/auctions">All Auctions</a>
        {{#if session}}
          <a href="/logout">Log Out</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
