<form class="form" action="/admin" method="post">
  <h2>Admin Console</h2>
  <h3>Changes will <span style="color: red;">replace</span> existing information</h3>
  <div class="form-row">
    <label for="name">Charity Name</label>
    <input type="text" name="name" id='name'>
  </div>
  <div class="form-row">
    <label for="website">Website</label>
    <input type="text" name="website" id='website'>
  </div>
  <div class="form-row">
    <label for="image">Background Image URL</label>
    <input type="text" name="image" id='image'>
  </div>
  <div class="form-row">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="8" cols="40" placeholder='What are the goals of your organization, and how will this event help?'></textarea>
  </div>
  <div class="form-row">
    <input type="submit" class="post" value="REPLACE Charity Information">
  </div>
</form>

<form class="form" action="/reset" method="GET" style="border: 3px solid red;">
  <h2>Would you like to reset the auctions?</h2>
  <h3>(This will erase all listed bachelors and bachelorettes)</h3>
  <div class="form-row">
    <input type="submit" class="post" value="Yes, reset ALL users from auction" style="background-color: red;">
  </div>
</form>
